.jobTable {
  flex-grow: 1;
  border: 1px solid green;
  border-collapse: collapse;
}

.headerTitle {
  text-align: left;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
}

.jobTitleCol {
  width: 250px;
  font-weight: bold;
}

.companyNameCol {
  width: 250px;
  font-weight: bold;
}

.statusCol {
  width: 250px;
  font-weight: bold;
}
