.jobTable {
  flex-grow: 1;
}

.headerTitle {
  text-align: left;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d3d3d3;
  background-color: #eeeeee;
  padding: 0 1rem 0 1rem;
}

.jobTitleCol {
  width: 250px;
  font-weight: bold;
}

.companyNameCol {
  width: 250px;
  font-weight: bold;
}

.statusCol {
  width: 250px;
  font-weight: bold;
}
