.newJobModal {
  position: fixed;
  z-index: 1000;
  left: 50%;
  right: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  width: 50%;
  border: 1px solid #64748b;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
}

.headerTitle {
  font-weight: bold;
}

.textBox {
}

.newJobForm {
  display: flex;
  flex-direction: column;
}

.newJobForm label {
  margin: 0;
  padding: 0;
}

.saveButton {
}

.buttonContainer {
  display: flex;
  justify-content: end;
}
