.rowWrapper {
  cursor: pointer;
  padding: 0 1rem 0 1rem;
  color: #000000;
  text-decoration: none;
}

.rowWrapper:hover {
  background-color: #eeeeee;
}

.jobTitleCol {
  min-width: 250px;
}

.companyCol {
  min-width: 250px;
}

.statusCol {
  min-width: 250px;
}
