.newJobButton {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  background-color: #eeeeee;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  min-width: 6.5em;
  color: #000000;
  text-decoration: none;
}

.newJobButton:hover {
  border-color: #000000;
  color: #000000;
}

.newJobButton:visited {
  color: #000000;
}
